DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=adtech

MONGO_URI=mongodb://root:your_password_here@127.0.0.1:27017/adtech?authSource=admin

CASSANDRA_HOST=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=adtech